@font-face {
  font-family: Kaisei;
  src: url(../assets/fonts/KaiseiDecol-Bold.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-Medium.ttf);
}
/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;
  /* COLORS */
  /* A BIT OF HSL(HUE, SATURATION, LIGHTNESS) */
  --first-color: #1C1C1C;
  --title-color: #1C1C1C;
  --text-color: #1C1C1C 20%;
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: #D9D9D9;
}

:root {
  /* FONT AND TYPE */
  --body-font: "Syne", Inter;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  /* FONT WEIGHT */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* Z INDEX*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/* RESPONSIVE TYPE */
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CSS REUSABLE */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(0, 0%, 1%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* HEADER & NAV */
.header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  width: auto;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
  border-radius: 30px;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.1rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* NAV MEDIA */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* MENU */
.show-menu {
  top: 0;
}

/* SEARCH */
.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* SHOW SEARCH */
.show-search {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__form {
  transform: translateY(0);
}

/* LOGIN FORM (NOT FINISHED) */
.login__form,
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: 0.5rem;
}
.login__signup a {
  color: var(--first-color);
  text-decoration: underline;
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(231, 43%, 17%, 0.4);
}

/* SHOW LOGIN */
.show-login {
  opacity: 1;
  pointer-events: initial;
}
.show-login .login__form {
  transform: translateY(0);
}

/* MEDIA */
/* MEDIUM DEVICES */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }
  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }
  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }
  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}
/* LARGE DEVICES */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
/* LANDING BANNER AND BANNER */
.banner__section {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 9rem;
}

.banner__img {
  border-radius: 2rem;
}

.banner__tittle {
  font-size: 1.3rem;
  text-decoration: underline;
  color: hsl(230, 100%, 98%);
  position: relative;
  bottom: 3.25rem;
}

/* MEDIA (IMG) */
@media screen and (max-width: 1023px) {
  .banner__section {
    top: 5.8rem;
  }
  .banner__img {
    max-width: 93%;
  }
  .banner__tittle {
    font-size: 1.2rem;
    bottom: 2.6rem;
  }
}
/* CARDS */
.container__categories {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  position: relative;
  top: 6rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
  width: 200px;
}

.card__img {
  width: 200px;
  border-radius: 1.5rem;
}

.card__data {
  width: 180px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* ANIMATIONS NAME */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* CARD ANIMATION */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
/* MEDIA */
/* SMALL DEVICES */
@media screen and (max-width: 340px) {
  .container__categories {
    margin-inline: 1rem;
  }
  .card__data {
    width: 180px;
    padding: 1rem;
  }
}
/* MEDIUM DEVICES */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
/* LARGE DEVICES */
@media screen and (min-width: 1120px) {
  .container__categories {
    height: 70vh;
  }
  .card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card__img {
    width: 200px;
  }
  .card__data {
    width: 180px;
    padding-inline: 2.5rem;
  }
}
/* FOOTER */
.footer {
  position: relative;
  top: 5rem;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.menu {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
  font-family: Inter;
}

.menu-icon {
  color: var(--title-color);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 1;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1.5;
  text-decoration: underline;
}

.text {
  color: var(--title-color);
  opacity: 1;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* MEDIA */
@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 5rem;
  }
}
/* CONTACT US (FORM-BOOTSTRAP) */
.form-area {
  padding-top: 2%;
}

.row.single-form {
  border-radius: 2rem;
}

.left {
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  border-radius: 2rem;
  padding: 200px 98px;
}
.left h2 {
  font-family: Inter;
  color: var(--title-color);
  font-size: 1.2rem;
}
.left span {
  font-weight: 100;
  font-size: 3rem;
}

.single-form {
  background: #fff;
}

.right {
  padding: 70px 100px;
  position: relative;
}
.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}
.right button {
  border: none;
  border-radius: 0;
  background: #1C1C1C;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 1rem;
}

.form-control {
  border: 2px solid #000;
  border-radius: 1rem;
}

.right button:hover {
  background-color: #252525;
}

/* MEDIA */
@media (min-width: 768px) and (max-width: 991px) {
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 1rem;
  }
  .right {
    padding: 25px;
  }
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 46%;
  }
  .right button {
    width: 150px;
    padding: 12px 0;
  }
}
/* NEW COLLECTION */
/* LANDING BANNER (NEW COLLECTION) */
.newcollection__section {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 9rem;
  margin-bottom: 5rem;
}

.bannercollection__img {
  border-radius: 2rem;
  width: 75%;
  height: 570px;
  filter: blur(5px);
}

.bannercollection__tittle {
  font-size: 3.5rem;
  text-decoration: none;
  color: hsl(230, 100%, 98%);
  position: relative;
  bottom: 19rem;
}

/* MEDIA (IMG) */
@media screen and (max-width: 1023px) {
  .newcollection__section {
    top: 5.8rem;
  }
  .bannercollection__img {
    width: 93%;
    height: 10%;
  }
  .bannercollection__tittle {
    font-size: 1.8rem;
    bottom: 6.5rem;
  }
}
/* CARDS (PRODUCTS) */
.newcollection__container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  position: relative;
  top: 6rem;
  bottom: 6rem;
  margin-bottom: 3rem;
}

.newcard__container {
  display: grid;
  row-gap: 3.5rem;
}

.newcard__content {
  position: relative;
  overflow: hidden;
  width: 200px;
}

.newcard__img {
  width: 200px;
  border-radius: 1.5rem;
}

/* MEDIA */
/* SMALL DEVICES */
@media screen and (max-width: 340px) {
  .newcollection__container {
    margin-inline: 1rem;
  }
}
/* MEDIUM DEVICES */
@media screen and (min-width: 768px) {
  .newcard__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
/* LARGE DEVICES */
@media screen and (min-width: 1120px) {
  .newcard__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .newcard__img {
    width: 200px;
  }
}
/* SIGN UP FORM */
.body__register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 10rem;
}

.register__container {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 2rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
}
.register__container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.register__container .form__register {
  margin-top: 30px;
}

.form__register .input-box-register {
  width: 100%;
  margin-top: 20px;
}

.input-box-register label {
  color: #333;
}

.form__register :where(.input-box-register input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box-register input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form__register .column {
  display: flex;
  column-gap: 15px;
}

.form__register .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form__register :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form__register .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #1c1c1c;
}

.form__register :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form__register button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #1C1C1C;
  border-radius: 2rem;
}

/* MEDIA */
@media screen and (max-width: 500px) {
  .form__register .column {
    flex-wrap: wrap;
  }
  .form__register :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
