/* VARIABLES CSS */
:root {
    --header-height: 3.5rem;
  
/* COLORS */
/* A BIT OF HSL(HUE, SATURATION, LIGHTNESS) */
 --first-color: #1C1C1C;
 --title-color: #1C1C1C;
 --text-color: #1C1C1C 20%;
 --body-color: hsl(230, 100%, 98%);
 --container-color: hsl(230, 100%, 97%);
 --border-color: #D9D9D9;
}